* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: xx-large;
    color: antiquewhite;
}

.rosaSkrift {
    color: pink;
}

#menu {
    background-color: lightblue;
}

#menu ul li {
    display: inline;
    border-right: 1px solid brown;
    padding-right: 1em;
    padding-left: 1em;
}

#menu ul li:first-child {
    border-left: 1px solid brown;
}

#content {
    background-color: lightcyan;
}

#header {
    background-color: lightseagreen;
}

.fullWidth {
    width: 100%;
}

a {
    color: deeppink;
}

#likeButton {
    padding: 1em 3em 1em 3em;
    background-color: cornflowerblue;
    color:white;
    font-size: large;
}

#commentWrapper {
    padding: 1em;
    background-color: lightsalmon;
}